doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../Layout.pug
    body    
    br    
    form(enctype="multipart/form-data",class="form-control p-5 mr-3  container justify-content-center"  method="post"  action= Post._id ? "/Posts/Update/" + Post._id :"/Posts/New" )  
      br
      textarea(class="form-control" type="text" name="subject" placeholder="Sujet")=Post.subject
      br
      br
      img(src=Post.picture)
      input(type="file"  name="picture" class="PostImage" )

      br
      br

      textarea(class="form-control" name="comment", placeholder="ecrivez", cols="30", rows="10")=Post.comment  
      br
      button(type="submit" class="btn btn-primary") Publiez 


